<h2>{{ 'FARM_VISITOR_MANAGER_INFORMATION' | translate }}</h2>

<form [formGroup]="visitedForm">
  <ion-list>

    <ion-item>
      <ion-label floating>
        <ion-icon name="card"></ion-icon>
        {{ 'FARM_VISITOR_MANAGER_ID' | translate }} *
      </ion-label>
      <ion-input formControlName="personWhoAttendsId" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="person"></ion-icon>
        {{ 'FARM_VISITOR_MANAGER_FULL_NAME' | translate }} *
      </ion-label>
      <ion-input formControlName="personWhoAttendsName" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="phone-portrait"></ion-icon>
        {{ 'FARM_VISITOR_MANAGER_PHONE' | translate }}
      </ion-label>
      <ion-input formControlName="personWhoAttendsPhone" type="tel"></ion-input>
    </ion-item>

  </ion-list>

</form>
