<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ABOUT' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>
      <h1>{{ 'ICA' | translate }}</h1>
      <p>Versión 1.0</p>
    </ion-card-content>
    <ion-card-content>
      <h1>{{ 'DEVELOPERS' | translate }}</h1>
      <p>Santiago Mora</p>
      <p>David Castro</p>
      <p>Jeison Velásquez</p>
    </ion-card-content>
    <ion-card-content>
      <h1>{{ 'CONTACT' | translate }}</h1>
      <p>santiago_mora23141@elpoli.edu.co</p>
      <p>david_castro23141@elpoli.edu.co</p>
      <p>jeison_velasquez23142@elpoli.edu.co</p>
    </ion-card-content>
    <ion-card-content>
      <h1>{{ 'MADE_IN' | translate }}</h1>
      <h2>Politécnico Colombiano Jaime Isaza Cadavid © 2018</h2>
      <p>Carrera 48 No. 7 – 151 | El Poblado, Medellín</p>
      <p>PBX: 444 76 54</p>
      <p>NIT: 890980136-6</p>
    </ion-card-content>
  </ion-card>


</ion-content>
