<ion-header>
  <ion-navbar>
    <ion-title>{{ 'LOGIN' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="./assets/imgs/logogiba.jpg" width="60" height="50">
      </ion-col>
      <ion-col>
        <img src="./assets/imgs/logopoli.png" width="200">
      </ion-col>
      <ion-col>
        <img src="./assets/imgs/gobernacion.png" width="200" height="35">
      </ion-col>
      <ion-col>
        <img src="./assets/imgs/logoica.png" width="200">
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="loginForm" (submit)="submit($event)">
    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>

    <button ion-button full type="submit" [disabled]="loginForm.invalid">
      {{ 'ENTER' | translate }}
    </button>
  </form>
  <button ion-button clear full (click)="recoverPassword()" [disabled]="loginForm.get('email').invalid">
    {{ 'RECOVERY' | translate }}
  </button>
</ion-content>
