<ion-item>

  <button color="primary" (click)="openSignatureModal()" ion-button block icon-right>
    {{ text }}
    <span>
      <b>*</b>
    </span>
    <ion-icon name="brush"></ion-icon>
  </button>
  <ion-row *ngIf="signature">
    <ion-col width-80>
      <img [src]="signature" />
    </ion-col>
  </ion-row>


</ion-item>
