<ion-header>

  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ 'VISITS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="(visits | async)?.length > 0; else visitsNotFound">
    <button ion-item *ngFor="let visit of visits | async" (click)="openVisit(visit)">
      <ion-avatar item-start>
        <img src="./assets/imgs/home.png">
      </ion-avatar>
      <br>
      <h2>{{ visit.farm.name }}</h2>
      <h3>{{ 'VISIT-DATE' | translate }}{{ visit.date | date }}</h3>
    </button>
  </ion-list>

  <ng-template #visitsNotFound>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h5 style="text-align: center;">{{ 'VISITS_NOT_FOUND' | translate }}</h5>
        </div>
      </div>
    </div>
  </ng-template>

</ion-content>
