<ion-header>
  <ion-navbar>
    <ion-title>
      {{ 'ICA' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="goToForm()">
    {{ 'GO_TO_FORM' | translate }}
  </button>

  <button ion-button full (click)="goToVisits()">
    {{ 'GO_TO_VISITS' | translate}}
  </button>

  <button ion-button full (click)="goToAbout()">
    {{ 'GO_TO_ABOUT' | translate }}
  </button>

  <button ion-button full (click)="goToHelp()">
    {{ 'HELP' | translate }}
  </button>

</ion-content>