<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'HELP' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{ 'RESOLUTION' | translate }}
      </ion-card-title>
      <p class="parrafo-ica">
        El Instituto Colombiano Agropecuario (ICA) tiene un formato físico (designado de la resolución
        <strong> 020148 del 8 de Agosto del 2016 </strong> del ICA) para realizar las evaluaciones sanitarias y de inocuidad de los
        predios pecuarios productores de animales, destinados al sacrificio para el consumo humano. Dado que este formato
        es físico se corre el riesgo de perder la información por diferentes causas como desastres naturales, errores humanos,
        etc.
      </p>
      <p class="parrafo-ica">
        Esta aplicación ha sido desarrollada con el propósito de facilitar la evaluación de los predios pecuarios, desde la comodidad
        de un dispositivo móvil además de ver la información consolidada en una plataforma web de fácil manejo.
      </p>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="./assets/imgs/pdf.png">
          </ion-thumbnail>
          <h2>{{ 'MANUAL' | translate}}</h2>
          <button ion-button clear item-end (click)="openPDF('assets/documents/res.pdf', 'res')">{{ 'VIEW' | translate }}</button>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="./assets/imgs/pdf.png">
          </ion-thumbnail>
          <h2>{{ 'RESOLUTION' | translate}}</h2>
          <button ion-button clear item-end (click)="openResolution()">{{ 'VIEW' | translate }}</button>
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
