page-check-list {
  .swiper-slide {
    overflow-y: scroll;
    display: block;
  }
  .scroll-content {
    padding-bottom: 0px !important;
  }
  .h3 {
    font-size: 10px;
  }
  .title {
    font-size: 8px;
    font-weight: 500;
  }
}
