<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button clear ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'CHECK_LIST' | translate }}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="visitForm">
    <ion-slides #formSlides>
      <ion-slide>

        <h2>{{ 'HEALTH_AND_SAFETY_AUTHORIZATION' | translate }}</h2>


        <ion-list>

          <ion-item>
            <ion-label floating>{{ 'TECHNICAL_VISIT_DATE' | translate }}</ion-label>
            <ion-input type="text" readonly [value]="visit.date | date"></ion-input>
          </ion-item>
        </ion-list>


      </ion-slide>

      <ion-slide>

        <h2>{{ 'FARM_GENERAL_INFORMATION' | translate }}</h2>


        <ion-list>

          <ion-item>
            <ion-label floating>{{ 'FARM_NAME' | translate }}</ion-label>
            <ion-input type="text" readonly [value]="visit?.farm?.name"></ion-input>
          </ion-item>

          <ion-item-divider>
            <h2>{{ 'FARM_LOCATION' | translate }}</h2>
          </ion-item-divider>

          <ion-item>
            <ion-label floating>{{ 'DEPARTMENT' | translate }}</ion-label>
            <ion-input type="text" readonly [value]="visit?.farm?.sidewalk?.municipality?.department?.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'MUNICIPALITY' | translate }}</ion-label>
            <ion-input type="text" readonly [value]="visit?.farm?.sidewalk?.municipality?.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'SIDEWALK' | translate }}</ion-label>
            <ion-input type="text" readonly [value]="visit?.farm?.sidewalk?.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'FARM_REGISTRATION_NUMBER' | translate}}</ion-label>
            <ion-input type="number" readonly [value]="visit?.farm?.registerNumber"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'ICA_OFFICE_LAND_REGISTRY' | translate}}</ion-label>
            <ion-input type="text" readonly></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'LATITUDE' | translate}} *</ion-label>
            <ion-input type="number" readonly [value]="visit?.farm?.latitude"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'LONGITUDE' | translate}} *</ion-label>
            <ion-input type="number" readonly [value]="visit?.farm?.longitude"></ion-input>
          </ion-item>

        </ion-list>


      </ion-slide>

      <ion-slide>

        <h2>{{ 'FARM_MANAGER_INFORMATION' | translate }}</h2>


        <ion-list>

          <ion-item>
            <ion-label floating>{{ 'FARM_MANAGER_FULL_NAME' | translate }}</ion-label>
            <ion-input type="text" readonly [value]="visit?.farm?.owner?.fullName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'FARM_MANAGER_ID' | translate }} *</ion-label>
            <ion-input type="text" readonly [value]="visit?.farm?.owner?.id"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'FARM_MANAGER_PHONE' | translate }} *</ion-label>
            <ion-input type="tel" readonly [value]="visit?.farm?.owner?.phone"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'FARM_MANAGER_EMAIL' | translate }} *</ion-label>
            <ion-input type="email" readonly [value]="visit?.farm?.owner?.email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>{{ 'FARM_MANAGER_NOTIFICATION_ADDRESS' | translate }} *</ion-label>
            <ion-input type="text" readonly [value]="visit?.farm?.owner?.address"></ion-input>
          </ion-item>

        </ion-list>


      </ion-slide>

      <ion-slide>

        <visited-form [visited]="visitedData" (onVisitedChange)="visitedChange($event)" (isVisitedValid)="visitedFormValidChange($event)">
        </visited-form>

      </ion-slide>

      <ion-slide>

        <h2>{{ 'PRODUCTIVITY_ACTIVITY' | translate }}</h2>


        <ion-list>

          <ion-list-header>
            {{ 'VALUED_SPECIES' | translate }} *
          </ion-list-header>

          <button ion-item *ngFor="let item of species" (click)="openSpecies(item)">
            <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            {{ item.description | titlecase }}
            <ion-badge item-start *ngIf="visitData?.productiveActivities[item.id]">
              {{ visitData?.productiveActivities[item.id] | productiveActivityInventory }}
            </ion-badge>
          </button>

        </ion-list>


      </ion-slide>

      <ion-slide *ngFor="let category of categories">

        <h2>{{ 'REQUIREMENT' | translate }}</h2>
        <h3 class="h3">{{ category.description | translate }}</h3>


        <ion-list *ngIf="visitData?.qualifications">
          <button ion-item *ngFor="let item of category?.items" (click)="openEvaluation(item, category.maxScore)">
            <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            {{ item.id }} - {{ item.description }}
            <ion-badge item-start *ngIf="visitData?.qualifications[item.id]" [color]="itemColor(category.maxScore, visitData?.qualifications[item.id]?.score)">
              {{ visitData?.qualifications[item.id]?.score }}
            </ion-badge>
          </button>
        </ion-list>


      </ion-slide>


      <ion-slide>

        <h2>{{ 'SIGNATURES' | translate }}</h2>


        <ion-list>

          <signature-field [text]="'SIGNATURE_TECHNICIAN' | translate" formControlName="inspectorSign"></signature-field>

          <signature-field [text]="'SIGNATURE_VISITED' | translate" formControlName="ownerFarmSign"></signature-field>

        </ion-list>


      </ion-slide>

      <ion-slide>

        <div *ngIf="formSlides?.getActiveIndex() === 10">
          <h2>{{ 'VISIT_STATUS' | translate }}</h2>


          <ion-card *ngFor="let category of categories">
            <ion-card-content>
              <ion-card-title>
                {{ (category.description + '_MINIMAL') | translate }}
              </ion-card-title>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <span class="title">
                      {{ 'NO_CRITERIA_AGREE' | translate }}
                    </span>
                  </ion-col>
                  <ion-col>
                    <span class="title">
                      {{ 'NO_CRITERIA_NA' | translate }}
                    </span>
                  </ion-col>
                  <ion-col>
                    <span class="title">
                      {{ 'PERCENT_CRITERIA' | translate }}
                    </span>
                  </ion-col>
                </ion-row>

                <ion-row>

                  <ion-col>
                    {{ category | totalCriteria : visitData?.qualifications }}
                  </ion-col>
                  <ion-col>
                    {{ category?.items.length - (category | totalCriteria : visitData?.qualifications) }}
                  </ion-col>
                  <ion-col>
                    {{ (category | percentPerCategory : visitData?.qualifications) | percent }}
                  </ion-col>

                </ion-row>
              </ion-grid>

            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-content>
              <ion-card-title>
                <h2>{{ 'TOTAL' | translate }}</h2>
              </ion-card-title>
              <span *ngIf="(categories | percentTotalCriteria : visitData?.qualifications ); else NO_DATA; let visitPercent">

                <span>{{ visitPercent | percent }}</span>

                <img *ngIf="visitPercent >= 0.8" src="./assets/imgs/good.png">

                <img *ngIf="visitPercent < 0.8 && visitPercent >= 0.6" src="./assets/imgs/medium.png">

                <img *ngIf="visitPercent < 0.6" src="./assets/imgs/bad.png">

              </span>

              <ng-template #NO_DATA>
                <img src="./assets/imgs/bad.png">
              </ng-template>
            </ion-card-content>
          </ion-card>

          <ion-list>

            <ion-item>
              <ion-label floating>
                <ion-icon name="calendar"></ion-icon>
                {{ 'NEXT_VISIT_DATE' | translate }}
              </ion-label>
              <ion-datetime
              formControlName="nextVisitDate"
              [min]="getCurrentDate()"
               [doneText]="'OK' | translate"
               [cancelText]="'CANCEL' | translate"></ion-datetime>

            </ion-item>

            <ion-item>
              <ion-label floating>
                <ion-icon name="bookmark"></ion-icon>
                {{ 'OBSERVATIONS' | translate }}
              </ion-label>

              <ion-textarea formControlName="observations"></ion-textarea>

            </ion-item>

            <ion-item>
              <ion-label floating>
                <ion-icon name="md-list-box"></ion-icon>
                {{ 'GRADUAL_COMPLIANCE_PLAN' | translate }}
              </ion-label>
              <ion-textarea formControlName="gradualCompliancePlan"></ion-textarea>
            </ion-item>

          </ion-list>

          <button ion-button block (click)="askToFinish()">
            {{ 'FINISH' | translate }}
          </button>
        </div>


      </ion-slide>

    </ion-slides>
  </form>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col width-50>
        <button ion-button full (click)="back()" *ngIf="formSlides?.getActiveIndex() !==0">
          {{ 'BACK' | translate }}
        </button>
      </ion-col>
      <ion-col width-50>
        <button *ngIf="formSlides?.getActiveIndex() !== 10" ion-button full [disabled]="(formSlides?.getActiveIndex() === 3 && !visitedFormIsValid) || (formSlides?.getActiveIndex() === 9 && visitForm.invalid)"
          (click)="next()">
          {{ 'NEXT' | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
