<ion-menu [enabled]="isLogged" [content]="nav">
  <ion-content>
    <ion-list>
      <button ion-item (click)="goToVisits()" menuToggle>
        <ion-icon item-left name="md-compass"></ion-icon>
        <h2>{{ 'VISITS' | translate }}</h2>
      </button>
      <button ion-item (click)="goToHelp()" menuToggle>
        <ion-icon item-left name="md-help"></ion-icon>
        <h2>{{ 'HELP' | translate }}</h2>
      </button>
      <button ion-item (click)="goToAbout()" menuToggle>
        <ion-icon item-left name="md-information"></ion-icon>
        <h2>{{ 'ABOUT' | translate }}</h2>
      </button>
      <button ion-item (click)="goToLogin()" menuToggle>
        <ion-icon item-left name="md-exit"></ion-icon>
        <h2>{{ 'LOGOUT' | translate }}</h2>
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #nav [root]="rootPage"></ion-nav>
