<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button clear ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ species.description | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="productiveActivityForm">

    <ion-list>

      <ion-item>
        <div text-wrap>
          {{ 'INPUT_A_INVENTORY' | translate }}
        </div>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="clipboard"></ion-icon>
          {{ 'BREED' | translate }}
        </ion-label>
        <ion-input formControlName="breed" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="clipboard"></ion-icon>
          {{ 'LIFT' | translate }}
        </ion-label>
        <ion-input formControlName="lift" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="clipboard"></ion-icon>
          {{ 'FATTEN' | translate }}
        </ion-label>
        <ion-input formControlName="fatten" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="clipboard"></ion-icon>
          {{ 'FULL_CYCLE' | translate }}
        </ion-label>
        <ion-input formControlName="fullCycle" type="number"></ion-input>
      </ion-item>

    </ion-list>

  </form>

</ion-content>

<ion-footer>
  <button ion-button block (click)="save()" [disabled]="productiveActivityForm.invalid || !totalInventory">{{ 'SAVE' | translate }}</button>
</ion-footer>
