page-signature {
  .title {
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
  .signature-pad {
    canvas {
      border: solid 3px black;
      margin: 25% 3% 0%;
      width: 94%;
      height: 50%;
    }
  }
  ion-footer {
    background-color: map-get($colors, primary);
    button {
      width: 100%;
      height: 100%;
    }
  }
}
