<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button clear ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ title }}
    </ion-title>
    <ion-buttons right>
      <button clear ion-button icon-only color="light" (click)="clearPad()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <signature-pad id="canvas" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
</ion-content>

<ion-footer color="primary">
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <button ion-button color="secondary" [disabled]="!initDraw" (click)="savePad()" style="margin: 0">{{ 'SAVE' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
