<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button clear ion-button icon-only color="light" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ 'REQUIREMENT_SIMPLE' | translate }} {{ evaluation.id }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="evaluationForm">
    <ion-list>
      <ion-item>
        <div text-wrap>
          {{ evaluation.description }}
        </div>
      </ion-item>
      <ion-item>
        <ion-label floating>
          <ion-icon name="radio-button-off"></ion-icon>
          {{ 'SCORE' | translate : { maxScore: maxScore } }}
        </ion-label>
        <ion-input type="number" formControlName="score" name="score"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Observaciones</ion-label>
        <ion-textarea type="text" formControlName="observation" name="observation"></ion-textarea>
      </ion-item>

    </ion-list>
    <button ion-button (click)="selectSource()" full icon-left>
      <ion-icon name="camera"></ion-icon>
      Evidencias
    </button>

    <div text-center>
      <img height="180" *ngIf="picture" [src]="picture"/>
    </div>
  </form>
</ion-content>

<ion-footer>
  <button ion-button block (click)="save()" [disabled]="evaluationForm.invalid">{{ 'SAVE' | translate }}</button>
</ion-footer>
